{
  "rpi2": {
    "build-once": true,
    "init": [
      {
        "cwd": "/home/rtakacs_ssd/Projects/js-remote-test/deps/valgrind_freya",
        "cmd": "./autogen.sh"
      },
      {
        "cwd": "/home/rtakacs_ssd/Projects/js-remote-test/deps/valgrind_freya",
        "cmd": "./configure",
        "args": [
          "--host=armv7-linux-gnueabihf",
          "--prefix=/home/rtakacs_ssd/Projects/js-remote-test/build/freya"
        ],
        "env": {
          "LD": "arm-linux-gnueabihf-ld",
          "AR": "arm-linux-gnueabihf-ar",
          "CC": "arm-linux-gnueabihf-gcc",
          "CPP": "arm-linux-gnueabihf-cpp",
          "CXX": "arm-linux-gnueabihf-g++"
        }
      }
    ],
    "build": {
      "cwd": "/home/rtakacs_ssd/Projects/js-remote-test/deps/valgrind_freya",
      "cmd": "make",
      "args": [
        "TOOLS=freya"
      ]
    },
    "artifacts": [
      {
        "src": "/home/rtakacs_ssd/Projects/js-remote-test/deps/valgrind_freya/vg-in-place",
        "install": "/home/rtakacs_ssd/Projects/js-remote-test/build/freya/vg-in-place"
      }, {
        "src": "/home/rtakacs_ssd/Projects/js-remote-test/deps/valgrind_freya/coregrind/valgrind",
        "install": "/home/rtakacs_ssd/Projects/js-remote-test/build/freya/coregrind/valgrind"
      },
      {
        "src": "/home/rtakacs_ssd/Projects/js-remote-test/deps/valgrind_freya/.in_place/freya-arm-linux",
        "install": "/home/rtakacs_ssd/Projects/js-remote-test/build/freya/.in_place/freya-arm-linux"
      },
      {
        "src": "/home/rtakacs_ssd/Projects/js-remote-test/deps/valgrind_freya/.in_place/vgpreload_core-arm-linux.so",
        "install": "/home/rtakacs_ssd/Projects/js-remote-test/build/freya/.in_place/vgpreload_core-arm-linux.so"
      },
      {
        "src": "/home/rtakacs_ssd/Projects/js-remote-test/deps/valgrind_freya/.in_place/vgpreload_freya-arm-linux.so",
        "install": "/home/rtakacs_ssd/Projects/js-remote-test/build/freya/.in_place/vgpreload_freya-arm-linux.so"
      }
    ]
  },
  "artik530": {
    "init": [
      {
        "cwd": "%{freya}",
        "cmd": "./autogen.sh"
      },
      {
        "cwd": "%{freya}",
        "cmd": "./configure",
        "args": [
          "--host=armv7-linux-gnueabi",
          "--prefix=%{build}/freya"
        ],
        "env": {
          "LD": "arm-linux-gnueabihf-ld",
          "AR": "arm-linux-gnueabihf-ar",
          "CC": "arm-linux-gnueabihf-gcc",
          "CPP": "arm-linux-gnueabihf-cpp",
          "CXX": "arm-linux-gnueabihf-g++"
        }
      }
    ],
    "build": {
      "cwd": "%{freya}",
      "cmd": "make",
      "args": [
        "TOOLS=freya"
      ]
    }
  }
}
