{
  "stm32f4dis": {
    "build-once": false,
    "init": [
      {
        "cwd": "/home/rtakacs_ssd/Projects/js-remote-test/deps/nuttx/tools",
        "cmd": "./configure.sh",
        "args": ["stm32f4discovery/usbnsh"]
      }, {
        "cwd": "/home/rtakacs_ssd/Projects/js-remote-test/deps/nuttx",
        "cmd": "make",
        "args": ["clean"]
      }, {
        "cwd": "/home/rtakacs_ssd/Projects/js-remote-test/deps/nuttx",
        "cmd": "make",
        "args": ["context"]
      }, {
        "cmd": "native(genromfs)",
        "args": [
          "/home/rtakacs_ssd/Projects/js-remote-test/deps/iotjs/test",
          "/home/rtakacs_ssd/Projects/js-remote-test/deps/apps/nshlib/nsh_romfsimg.h"
        ]
      }
    ],
    "build": {
      "cwd": "/home/rtakacs_ssd/Projects/js-remote-test/deps/nuttx",
      "cmd": "make",
      "args": ["-j1"],
      "env": {
        "IOTJS_ROOT_DIR": "/home/rtakacs_ssd/Projects/js-remote-test/deps/iotjs",
        "EXTRA_LIBS": "-Map=nuttx.map"
      },
      "conditional-options": [
        {
          "condition": "True",
          "env": { "R": "1" }
        }
      ]
    },
    "artifacts": [
      {
        "src": "/home/rtakacs_ssd/Projects/js-remote-test/deps/nuttx/nuttx.bin"
      },
      {
        "src": "/home/rtakacs_ssd/Projects/js-remote-test/deps/nuttx/arch/arm/src/nuttx.map",
        "install": "/home/rtakacs_ssd/Projects/js-remote-test/build/nuttx.map"
      }
    ]
  }
}
