{
  "stm32f4dis": {
    "build-once": true,
    "build": {
      "cwd": "/home/rtakacs_ssd/Projects/js-remote-test/deps/stlink",
      "cmd": "make",
      "args": ["release"]
    },
    "artifacts": [
      {
        "src": "/home/rtakacs_ssd/Projects/js-remote-test/deps/stlink/build/Release/st-flash"
      }
    ]
  }
}
