[
  {
    "id": "profiles/minimal-profile",
    "patches": false,
    "coverage": false,
    "memstat": false,
    "profile": "profiles/minimal.profile"
  },
  {
    "id": "profiles/target-profile",
    "patches": false,
    "coverage": false,
    "memstat": false
  },
  {
    "patches": true,
    "coverage": %{coverage},
    "memstat": %{memstat}
  }
]
