[
  {
    "id": "minimal-profile-build",
    "patches": false,
    "coverage": false,
    "memstat": false,
    "binstat": true,
    "profile": "profiles/minimal.profile"
  },
  {
    "id": "target-profile-build",
    "patches": false,
    "coverage": false,
    "memstat": false,
    "binstat": true
  },
  {
    "id": "test-build",
    "patches": true,
    "coverage": %{coverage},
    "memstat": %{memstat},
    "binstat": %{binstat}
  }
]
