{
  "rpi2": {
    "init": [
      { "cwd": "%{freya}", "cmd": "sh autogen.sh" },
      { "cwd": "%{freya}", "cmd": "sh configure.sh", "args": ["--host=armv7-linux-gnueabihf", "--prefix=%{build}/freya"] },
    ],
    "build": {
      "cwd": "%{freya}",
      "cmd": "make",
      "args": ["TOOLS=freya"],
      "env": {
        "LD": "arm-linux-gnueabihf-ld",
        "AR": "arm-linux-gnueabihf-ar",
        "CC": "arm-linux-gnueabihf-gcc",
        "CPP": "arm-linux-gnueabihf-cpp",
        "CXX": "arm-linux-gnueabihf-g++"
      }
    }
  }
  "artik530": {
    "init": [
      { "cwd": "%{freya}", "cmd": "sh autogen.sh" },
      { "cwd": "%{freya}", "cmd": "sh configure.sh", "args": ["--host=armv7-linux-gnueabi", "--prefix=%{build}/freya"] },
    ],
    "build": {
      "cwd": "%{freya}",
      "cmd": "make",
      "args": ["TOOLS=freya"],
      "env": {
        "LD": "arm-linux-gnueabihf-ld",
        "AR": "arm-linux-gnueabihf-ar",
        "CC": "arm-linux-gnueabihf-gcc",
        "CPP": "arm-linux-gnueabihf-cpp",
        "CXX": "arm-linux-gnueabihf-g++"
      }
    }
  }
}
