{
  "rpi2": {
    "init": [
      {
        "cwd": "/home/rtakacs_ssd/Projects/js-remote-test/deps/valgrind_freya",
        "cmd": "./autogen.sh"
      },
      {
        "cwd": "/home/rtakacs_ssd/Projects/js-remote-test/deps/valgrind_freya",
        "cmd": "./configure",
        "args": [
          "--host=armv7-linux-gnueabihf",
          "--prefix=/home/rtakacs_ssd/Projects/js-remote-test/build/freya"
        ],
        "env": {
          "LD": "arm-linux-gnueabihf-ld",
          "AR": "arm-linux-gnueabihf-ar",
          "CC": "arm-linux-gnueabihf-gcc",
          "CPP": "arm-linux-gnueabihf-cpp",
          "CXX": "arm-linux-gnueabihf-g++"
        }
      }
    ],
    "build": {
      "cwd": "/home/rtakacs_ssd/Projects/js-remote-test/deps/valgrind_freya",
      "cmd": "make",
      "args": [
        "TOOLS=freya"
      ]
    },
    "install": {
      "src-dir": "/home/rtakacs_ssd/Projects/js-remote-test/deps/valgrind_freya/",
      "dst-dir": "/home/rtakacs_ssd/Projects/js-remote-test/build/freya",
      "files": [
        "vg-in-place",
        "coregrind/valgrind",
        ".in_place/freya-arm-linux",
        ".in_place/vgpreload_core-arm-linux.so",
        ".in_place/vgpreload_freya-arm-linux.so"
      ]
    }
  },
  "artik530": {
    "init": [
      {
        "cwd": "%{freya}",
        "cmd": "./autogen.sh"
      },
      {
        "cwd": "%{freya}",
        "cmd": "./configure",
        "args": [
          "--host=armv7-linux-gnueabi",
          "--prefix=%{build}/freya"
        ],
        "env": {
          "LD": "arm-linux-gnueabihf-ld",
          "AR": "arm-linux-gnueabihf-ar",
          "CC": "arm-linux-gnueabihf-gcc",
          "CPP": "arm-linux-gnueabihf-cpp",
          "CXX": "arm-linux-gnueabihf-g++"
        }
      }
    ],
    "build": {
      "cwd": "%{freya}",
      "cmd": "make",
      "args": [
        "TOOLS=freya"
      ]
    }
  }
}
