{
  "stm32f4dis": {
    "build": {
      "cwd": "%{iotjs}",
      "cmd": "tools/build.py",
      "args": [
        "--clean",
        "--no-init-submodule",
        "--no-parallel-build",
        "--target-arch=arm",
        "--target-os=nuttx",
        "--target-board=stm32f4dis",
        "--nuttx-home=%{nuttx}",
        "--jerry-heaplimit=64",
        "--buildtype=%{buildtype}",
        "--profile=test/profiles/nuttx.profile"
      ],
      "env": {
        "IOTJS_ROOT_DIR": "%{iotjs}"
      },
      "conditional-options": [
        {
          "condition": "%{coverage}",
          "args": ["--buildtype=debug"]
        },
        {
          "condition": "%{memstat}",
          "args": ["--jerry-memstat"]
        }
      ]
    },
    "artifacts": [
      "%{iotjs}/build/%{target}/%{build-type}/lib"
    ]
  },
  "artik053": {
    "build": {
      "env": {
        "IOTJS_ROOT_DIR": "%{iotjs}",
        "IOTJS_BUILD_OPTION": [
          "--clean",
          "--no-init-submodule",
          "--no-parallel-build",
          "--target-arch=arm",
          "--target-os=tizenrt",
          "--target-board=artik05x",
          "--buildtype=%{buildtype}",
          "--profile=test/profiles/tizenrt.profile"
        ]
      },
      "conditional-options": [
        {
          "condition": "%{coverage}",
          "env": { "IOTJS_BUILD_OPTION": ["--buildtype=debug"] }
        },
        {
          "condition": "%{memstat}",
          "env": { "IOTJS_BUILD_OPTION": ["--memstat"] }
        }
      ]
    }
  },
  "artik530": {
    "build": {
      "cwd": "%{iotjs}",
      "cmd": "config/tizen/gbsbuild.sh",
      "args": ["--clean"],
      "env": {
        "IOTJS_BUILD_OPTION": [
          "--clean",
          "--no-init-submodule",
          "--no-parallel-build",
          "--target-arch=noarch",
          "--target-os=tizen",
          "--target-board=rpi3",
          "--buildtype=%{buildtype}",
          "--profile=test/profiles/tizen.profile"
        ]
      },
      "conditional-options": [
        {
          "condition": "%{coverage} or %{memstat}",
          "env": { "IOTJS_BUILD_OPTION": ["--compile-flag=-g", "--jerry-compile-flag=-g"] }
        },
        {
          "condition": "%{memstat}",
          "env": { "IOTJS_BUILD_OPTION": ["--jerry-memstat"] }
        }
      ]
    },
    "artifacts": [
      "%{gbs-iotjs}/build/%{target}/%{build-type}/bin/iotjs",
      "%{gbs-iotjs}/build/%{target}/%{build-type}/iotjs.map",
      "%{gbs-iotjs}/build/%{target}/%{build-type}/lib"
    ]
  },
  "rpi2": {
    "build": {
      "cwd": "/home/rtakacs_ssd/Projects/js-remote-test/deps/iotjs",
      "cmd": "tools/build.py",
      "args": [
        "--clean",
        "--no-init-submodule",
        "--no-parallel-build",
        "--target-arch=arm",
        "--target-os=linux",
        "--target-board=rpi2",
        "--buildtype=release",
        "--profile=test/profiles/nuttx.profile"
      ],
      "conditional-options": [
        {
          "condition": "True or True",
          "args": ["--compile-flag=-g", "--jerry-compile-flag=-g"]
        },
        {
          "condition": "True",
          "args": ["--jerry-memstat"]
        }
      ]
    },
    "install": {
      "src-dir": "/home/rtakacs_ssd/Projects/js-remote-test/deps/iotjs/build/arm-linux/release",
      "dst-dir": "/home/rtakacs_ssd/Projects/js-remote-test/build/",
      "files" : [
        "bin/iotjs",
        "iotjs.map",
        "lib"
      ]
    }
  }
}
