{
  "artik053": {
    "init": [
      { "cwd": "%{tizenrt-tools}", "cmd": "sh configure.sh", "args": "artik053/%{app}" },
      { "cwd": "%{tizenrt-os}", "cmd": "make", "args": "clean" },
      { "cwd": "%{tizenrt-os}", "cmd": "make", "args": "context" }
    ],
    "build": {
      "cwd": "%{nuttx-tools}",
      "cmd": "make",
      "args": "-j1"
    },
    "artifacts": {
      "%{tizenrt}/build/output/bin/tinyara.bin",
      "%{tizenrt}/build/output/bin/tinyara.map"
    }
  }
}
